include HISTORY.rst
recursive-include src/bioigraph *.py
recursive-include src/bioigraph/data *
recursive-include src/bioigraph/mysql_config *
include src/log
include src/results
include src/bioigraph/__version__
