include HISTORY.rst
include pyproject.toml
include requirements.txt
recursive-include pypath *.py
recursive-include pypath *.json
recursive-include pypath/data *
recursive-include pypath/mysql_config *
include log
include results
include pypath/__version__
